
/* =================== nav part start============= */
nav {
  margin-bottom: 20px;
  background: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* .navbar {
    padding-right: 25px;
    padding-left: 25px;
} */

nav ul li {
  margin-left: 25px;
  border-radius: 10px;
}
nav ul li a {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius:5px;
}

nav form .search-box {
  border-radius: 20px;
}
nav form .search-icon {
    position: relative;
    top: 7px;
    left: -35px;
    font-size: 24px;
}
nav form .profile {
    margin-right: 100px;
}
/* =================== nav part end============= */

/* =================== log in part start============= */
#login-part {
    margin-top: 42px;
    margin-bottom: 20px;
}
#login-part form a {
  text-decoration: none;
}

#login-part .login-form {
    background: #000:
}

/* =================== log in part end============= */


/* =================== about-part part start============= */
#about-part{
    
}
#about-part .form-style {
    padding:10%;
}
#about-part .login-form{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 30px;
}
#about-part .login-form .alignbutton{
    position:relative;
}
#about-part .login-form .center-button {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
#about-part .login-form .email {
    border:none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding:10px;
    border-radius:15px;
}
#about-part .login-form .password {
    border:none !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding:10px;
    border-radius:15px;
    margin-top:15px;
}
#about-part .login-form .color {
    background:#A19696;
    width: 100px;
    height: 40px;
    padding: 6 19 6 19;
    border-radius: 10;
}
#about-part .login-form .about-form {
    text-align: center;
    padding: 0 30px;
    margin-top: 49px;
}
#about-part .login-form .about-form  a{
    text-decoration: none;
}
#about-part .login-form .about-form .new-account {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding:12px;
    border-radius:20px;
    margin-top:10px;
    color: black;
}
/* =================== about-part part end============= */

/* =================== reels part start============= */
#reels {
  margin-top: 50px;
}
#reels .container h1 {
  text-align: center;
  margin-bottom: 30px;
}

#reels .image_details img {
  float: left;
  margin-right: 5px;
}
/* =================== reels part end============= */

/* =================== Games part start============= */
#games {
  margin-top: 50px;
}

#games .card {
  padding-bottom: 50px;
}

#games .container h1 {
  text-align: center;
  margin-bottom: 30px;
}
#games .card-body {
  position: absolute;
  top: 320px;
  left: 50px;
}
#games img {
  position: relative;
}
#games h5 {
  text-align: center;
}
/* =================== Games part end============= */
